<h2>members</h2>
<%= link_to "New Member", new_member_path %>

<ul>
	<% @members.each do|member|%>  
<li>
	<%=member.full_name%>  
	<%= link_to "new order", new_member_order_path(member) %>
</li>

<%end%>

</ul>